# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/DataSource/Input/SalesbyItembyLicensor-ForRoyaltyCal(Acc)new_Jan2025March2025_0707.xlsx
